.parent{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 50%;
    top: 25%;
    left: 20%;
}

.changer{
    margin: 20px;
}


.search{
    margin: 20px;
}
.input{
    width: 90%;
    border-color: rgb(167, 164, 164);
    height: 1.5rem;

}